.portfolio img {
    width: 75%;
}
  @media only screen and (min-width:45em) {
    .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom:25%;
    }
    .portfolio img {
    width: 50%;
    }
}